.Dashouterdiv{
    width:100vw;
    height:100vh;
    background-color: black;
    color:whitesmoke;
   background-image: url('./Images/bg3.jpg');
   background-position: top;
   background-size: cover;
   background-repeat: no-repeat;
}
.DashInnerdiv3{
    width: 70vw;
    margin-top: 4%;

    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
}
.DashInnerdiv1:hover {
  border-color: rgb(255, 102, 0);
  transform: scale(1.07); /* Increase size on click */
}
.DashInnerdiv2:hover {
  border-color: rgb(255, 102, 0);
  transform: scale(1.07); /* Increase size on click */
}
  @media (min-width:1024px) {
    .dashh1{
      width:70%;
      margin-top:8%;
    }
    .DashInnerdiv1{
      width: 20vw;
      height: 10vh;
      border-color: white;
      border-width: 3px;
      border-style: solid;
      border-radius: 9%;
      display: flex;
      justify-content: center;
      align-items: center;
     margin-bottom: 2%;
     font-weight: 600;
     cursor: pointer;
     transition: border-color 0.3s ease;
    
    transition: transform 0.3s ease;
    
  }
 
  .DashInnerdiv2{
      width: 20vw;
      height: 10vh;
      border-color: white;
      border-width: 3px;
      border-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
      transition: border-color 0.3s ease;
    
    transition: transform 0.3s ease;
  }

    .DashInnerdiv3{
      width: 70vw;
      margin-top: 4%;
  
      display: flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
  }
  }
  @media (max-width:1023px) {
    .dashh1{
      width:100vw;
      margin-top:30%;
    }
    .DashInnerdiv1{
      width: 30vw;
      height: 5vh;
      border-color: white;
      border-width: 3px;
      border-style: solid;
      border-radius: 9%;
      display: flex;
      justify-content: center;
      align-items: center;
     margin-bottom: 2%;
     font-weight: 600;
     cursor: pointer;
     transition: border-color 0.3s ease;
    
    transition: transform 0.3s ease;
    
  }

  .DashInnerdiv2{
      width: 30vw;
      height: 5vh;
      border-color: white;
      border-width: 3px;
      border-style: solid;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      cursor: pointer;
      transition: border-color 0.3s ease;
    
    transition: transform 0.3s ease;
  }

    .DashInnerdiv3{
      width: 100vw;
      margin-top: 4%;
  
      display: flex;
      justify-content:center;
      flex-direction: column;
      align-items: center;
  }
  }