.changepassdiv1{
    width:100vw;
    height:100vh;
    background-image: url('../Images/bg15.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    color:#f7b731;
}
@media (min-width:1024px) {
    .changepdiv2{
        width:40%;
    }
    .logoimg{
        width:16%;
        height:16%;
    }
}
@media (max-width:1023px) {
    .changepdiv2{
        width:85%;
    }
    .logoimg{
        width:15%;
        height:10%;
    }
}