
.cplaylistdiv1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: azure;
}
.cplaylistdiv2{
    margin-top: 9%;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 3%;
}
.cplaylistdiv4{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cplaylistdiv3{
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
    width: 60%;
    color:white;
}
.cplaylistdiv5{
    width:40%;
    height: 100vh;
    background-image:url("../Images/playlist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  

  
}
.form-control{
    color:white;
}
.form-control::placeholder{
    color:white !important;
}
input::placeholder { 
    color: white !important;
}

@media (min-width:1024px) {
    .cplaylistdiv4{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .cplaylistdiv3{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
         width: 60%;
         color:white;
     }
     .cplaylistdiv5{
         width:40%;
         height: 100vh;
         background-image:url("../Images/playlist.jpg");
         background-size: cover;
         background-repeat: no-repeat;
       
     
       
     }
}
@media (max-width:1023px) {
    .cplaylistdiv4{
        width:100%;
        height:100%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
    .cplaylistdiv3{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
         width: 100%;
       
         color:white;
     }
     .cplaylistdiv5{
       
        height:50vh;
         background-image:url("../Images/playlist.jpg");
         background-size: cover;
         background-repeat: no-repeat;
         background-position: center;
       
     
       
     }
}