.forgdiv1{
    background-image: url('../Images/bg13.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row-reverse;
    color:#f7b731;
}
@media (min-width:1024px) {
    .forgdiv2{
        width:40%;
    }
    .logoimg{
        width:20%;
        height:20%;
    }
}
@media (max-width:1023px) {
    .forgdiv2{
        width:80%;
    }
    .logoimg{
        width:15%;
        height:10%;
    }
}