.Homediv1{
    width:100vw;
    height:100vh;
    background-color: black;
    color:white;
    background-image: url('C:\Users\saiga\OneDrive\Desktop\Music\frontend\src\Components\Images\bg6.jpg');
    background-size: cover;
    background-position: center;
}