.myplaylistdiv1{
    background-image: url('C:\Users\saiga\OneDrive\Desktop\Music\frontend\src\Components\Images\bg12.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}