.profilediv1{
    background: url("../Images/bg2.jpg");
    background-position: center;
    background-size: cover;

}
.profilediv2{
    background: url("../Images/profilebg.webp");
    background-position: center;
    background-size: cover;
}



.profilediv6{
    width:89%;
    height:70%;
    margin-left: 1%;
    color:azure;
    
}
.profilediv7{
    width:50%;
    height:30%;
    margin-left: 5%;
}
.profilediv8{
    margin-left: 5%;
    margin-top: 5%;
    color:grey;
}
.form-control {
    background-color: rgb(45, 52, 61);
    color:white;
}

.form-control:focus {
    background-color: rgb(45, 52, 61);
}
input::placeholder { 
    color: white !important;
}
.form-select::placeholder { 
    color: white !important;
}
.form-select{
    background-color: rgb(45, 52, 61);
}
/*pc*/

  /* PC */
  @media (min-width: 1024px) {
    .profilediv3{
        width:100%;
        height:20%;
        display: flex;
        flex-direction: row;
        justify-content:first baseline;
        align-items: flex-start;
        
    }
    .profilediv7{
        width:50%;
        height:25%;
        margin-left: 5%;
    }
    .profilediv4 {
        width: 110px;
        height: 110px;
        border-style: solid;
        border-radius: 70%;
        border-width: 1px;
        margin-left: 2%;
        margin-top: -1%;
        background-image: url("../Images/boy.avif");
        background-position: center;
        background-size: cover;
        object-fit: cover; /* Add this to ensure the image is scaled correctly */
      }
      .profilediv5{
        width: 110px;
        height: 110px;
        border-style: solid;
        border-radius: 70%;
        border-width: 1px;
        margin-left: 2%;
        margin-top: -1%;
        background-image: url("../Images/girl.avif");
        background-position: center;
        background-size: cover;
    }
      
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .profilediv3{
        width:100%;
        height:10%;
        display: flex;
        flex-direction: row;
        justify-content:first baseline;
        align-items: flex-start;
        
    }
    .profilediv7{
        width:50%;
        height:30%;
        margin-left: 5%;
    }
    .profilediv4 {
        width: 90px;
        height: 90px;
        border-style: solid;
        border-radius: 70%;
        border-width: 1px;
        margin-left: 2%;
        margin-top: -3%;
        background-image: url("../Images/boy.avif");
        background-position: center;
        background-size: cover;
        object-fit: cover; /* Add this to ensure the image is scaled correctly */
      }
      .profilediv5{
        width: 90px;
        height: 90px;
        border-style: solid;
        border-radius: 70%;
        border-width: 1px;
        margin-left: 2%;
        margin-top: -3%;
        background-image: url("../Images/girl.avif");
        background-position: center;
        background-size: cover;
    }
      
  }
  
  /* Mobile */
  @media (max-width: 767px) {
    .profilediv3{
        width:100%;
        height:15%;
        display: flex;
        flex-direction: row;
        justify-content:first baseline;
        align-items: flex-start;
        
    }
    .profilediv7{
        width:100%;
        height:30%;
        margin-left: 5%;
    }
    .profilediv4 {
        width: 90px;
        height: 80px;
        border-style: solid;
        border-radius: 70%;
        border-width: 1px;
        margin-left: 2%;
        margin-top: -3%;
        background-image: url("../Images/boy.avif");
        background-position: center;
        background-size: cover;
        object-fit: cover; /* Add this to ensure the image is scaled correctly */
      }
      .profilediv5{
        width: 90px;
        height: 80px;
        border-style: solid;
        border-radius: 70%;
        border-width: 1px;
        margin-left: 2%;
        margin-top: -3%;
        background-image: url("../Images/girl.avif");
        background-position: center;
        background-size: cover;
    }
      
  }