
.updatesongdiv1{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: azure;
}




@media (min-width:1024px) {
    .updatesongdiv2{
        margin-top: 9%;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 3%;
    }
    .updatesongdiv4{
        width:100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .updatesongdiv3{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
         width: 50%;
     }
     .updatesongdiv5{
         width:50%;
         height: 70vh;
         background-image: url("C:\Users\saiga\OneDrive\Desktop\Music\frontend\src\Components\Images\updatesong1.jpg");
         background-size: cover; /* Cover the entire container */
         background-position: center; /* Center the background image */
        
       
     }
}

@media (max-width:1023px) {
    .updatesongdiv2{
        margin-top: 25%;
        text-align: center;
        font-weight: bolder;
        margin-bottom: 3%;
    }
    .updatesongdiv4{
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .updatesongdiv3{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
         width: 100%;
     }
     .updatesongdiv5{
         width:100%;
         height: 70vh;
         background-image: url("C:\Users\saiga\OneDrive\Desktop\Music\frontend\src\Components\Images\updatesong1.jpg");
         background-size: cover; /* Cover the entire container */
         background-position: center; /* Center the background image */
        
       
     }
}